<div class="container">
  <div class="info">
    <h1>Bat Researchers' Log</h1>

    <div class="content">
      <h3>Welcome to the Bat Researchers' Log! </h3>
        <p>The goal of this application is to help researchers from all over the world to communicate about the bats that they are researching. Hopefully with this tool we can better understand bats, their diseases, and how to protect them.</p>
        
        <p>Even without an account you can look at our list of bats <a class="button" href="/bats">here.</a> If you would like to edit or add your own information, please log in or create an account. </p>
        
        <p>This logging tool is currently being developed and any feedback on how to improve this app is welcomed.</p><br>
        
        <h4>Why should you care about bats?</h4>
        <p>Bats have been dying off due to a terrible disease called White Nose Syndrome. The disease is usually fatal and is considered one of the worst wildlife diseases of modern history. The first documented case of the disease was in 2007. 
        There is still no cure or real treatment. It spreads rapidly and can kill an entire colony. Basically it is their COVID-19 but there is no vaccine and it has been going on for a much longer period of time. Speaking of COVID-19, many people 
        have wrongfully blamed bats and are now killing bats. Some people have destroyed entire colonies of bats. Bats need to be protected, now more than ever. 
 
        <p>Bats are nocturnal pollinators that the world desperately needs. Take for instance the agave plant. The agave plant has evolved to co-exist with the bats that pollinate it. Without bats, the agave plant ceases to exist. 300 species of fruit are exclusively pollinated by bats. 
        Just think about how many amazing things we would be missing in our world without bats.</p>

   </div>

  </div>
</div>
