<form action="/login" method="post">
<br>
    <input type="text" name="user[username]" placeholder="username"><br>
    <input type="password" name="user[password]" placeholder="password"><br><br>
    <input type="submit" class="btn btn-primary" value="Log In">
</form>