<form action="/signup" method="post">
<br>
    <input type="text" name="user[username]" placeholder="username"><br>
    <input type="email" name="user[email]" placeholder="email"><br>
    <input type="text" name="user[organization]" placeholder="organization"><br>
    <input type="password" name="user[password]" placeholder="password"><br><br>
    <input type="submit" class="btn btn-success" value="Create Account">
</form>