<h1>Log New Bat</h1>
  <form action="/bats" method="post">
    <label>Identification Number(either tag or wing print): </label>
    <input type="text" name="bat[identification]"><br>
    
    <label>Nickname: </label>
    <input type="text" name="bat[nickname]"><br>

    <label>Species: </label>
    <input type="text" name="bat[species]"><br>

    <label>Date Found: </label>
    <input type="text" name="bat[date_found]"><br>

    <label>Location: </label>
    <input type="text" name="bat[location]"><br>

    <label>Date Last Seen: </label>
    <input type="text" name="bat[date_last_seen]"><br>

    <label>Weight In Grams: </label>
    <input type="text" name="bat[weight]"><br>

    <label>Age In Years: </label>
    <input type="text" name="bat[age]"><br>

    <label>Sex: </label>
    <input type="text" name="bat[sex]"><br>

    <label>Wing Span In CM: </label>
    <input type="text" name="bat[wing_span]"><br>

    <label>Colony Size: </label>
    <input type="text" name="bat[colony_size]"><br>

    <label>Conservation Status: </label>
    <input type="text" name="bat[conservation_status]"><br>

    <label>Presence of White Nose Syndrome (true/false): </label>
    <input type="text" name="bat[white_nose_syndrome]"><br>

    <label>Notes: </label>
    <textarea type="text" name="bat[notes]"></textarea><br>
    <input type="submit" value="Submit">
  </form>
