<h1>Log New Bat</h1>
  <form action="/bats" method="post">
    <label>Identification Number(either tag or wing print): </label>
    <input type="text" name="identification"><br>
    
    <label>Nickname: </label>
    <input type="text" name="nickname"><br>

    <label>Species: </label>
    <input type="text" name="species"><br>

    <label>Date Found: </label>
    <input type="text" name="date_found"><br>

    <label>Location: </label>
    <input type="text" name="location"><br>

    <label>Date Last Seen: </label>
    <input type="text" name="date_last_seen"><br>

    <label>Weight In Grams: </label>
    <input type="text" name="weight"><br>

    <label>Age In Years: </label>
    <input type="text" name="age"><br>

    <label>Sex: </label>
    <input type="text" name="sex"><br>

    <label>Wing Span In CM: </label>
    <input type="text" name="wing_span"><br>

    <label>Colony Size: </label>
    <input type="text" name="colony_size"><br>

    <label>Conservation Status: </label>
    <input type="text" name="conservation_status"><br>

    <label>Presence of White Nose Syndrome (true/false): </label>
    <input type="text" name="white_nose_syndrome"><br>

    <label>Notes: </label>
    <textarea type="text" name="notes"></textarea><br>
    <input type="submit" value="Submit">
  </form>
